<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sattakhelo.mtk">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" -->
    <queries>

        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/madhur_milan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/madhur_milan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.sattakhelo.mtk.SingleBet"
            android:exported="false"
            android:label="@string/title_activity_single_bet"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.sattakhelo.mtk.PinActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.sattakhelo.mtk.ForgotPassword"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.DelhiGames"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.DelhiJodiMarkets"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.AdminMessage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.OTPVerification"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.TransferCoin"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.Wallet"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.starline_timings"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.starline_games"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.WithdrawDetails"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.SpMotor"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.SpDpTp"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.RedBracket"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.OddEven"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.starline_markets"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.withdraw"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.single_bet"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.games"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.deposit_money"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.webview"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.chart_menu"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.charts"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.crossing"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.earn"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.fullsangam"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.halfsangam"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.betting"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.splash"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sattakhelo.mtk.ledger"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.transactions"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.played"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.howot"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.thankyou"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.bazar"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.notice"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.rate"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.profile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.signup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.login"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sattakhelo.mtk.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.sattakhelo.mtk.ResetPin"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/madhur_milan" />
    </application>

</manifest>